<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('../partials/styling.ejs') %>
     <link rel="stylesheet" href="/css/index.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <title>Routine Select</title>
</head>
<body>
     <header>
          <h1><a id="title" href="/">GitFit</a></h1>
          <img src="/images/list.png" id="hamburger" alt="hamburger">
          <div class="hamburger-menu">
               <div class="menu">
                    <% if(!currentUser) {%>
                    <div class="menu-btns">
                         <a class="button button-primary" href="/user/new">Sign up</a>
                         <a class="button button-primary" href="/session/new">Log in</a>
                    </div>
                    <%}%> 
                    <div class="menu-links">
                         <a class="button" href="/attributions">Attributions</a>
                         <a class="button" href="https://github.com/abszer">github</a>
                         <a class="button" href="https://www.linkedin.com/in/robertwhite3120/">Linkedin</a>
                         <a class="button" href="https://www.robwhite.dev">website</a>
                    </div>
               </div>
               <div class="menu-right"></div>
          </div>
          <% if(currentUser) { %>
               <form id="log-out" action="/session?_method=DELETE" method="POST">
                    <input class="button" type="submit" value="Log out">
               </form>
          <%}%>
          <!-- only visible on desktop -->
          <% if(!currentUser) { %>
               <div class="header-btns">
                    <a class="button button-primary" href="/user/new">Sign up</a>
                    <a class="button button-primary" href="/session/new">Log in</a>
               </div>
          <%}%>
     </header>
     <div class="container">
          <!-- if user is signed in this is visible:  -->
          <h3 id="welcome-msg">Let's get started, testuser<%= //currentUser.firstname %>!</h3>
          <h4>Create or Select a Routine:</h4>
          <div class="routine-select">
               <form id="routine-form" action="/routine" method="POST">
                    <label for="routine">Routine:</label>
                    <select name="routine" id="routine">
                         <option value="create">New routine</option>
                    </select>
                    <button id="routine-btn" class="button button-primary" type="button">Go</button>
               </form>
          </div>
     </div>


     <script src="/scripts/sideMenu.js"></script>
     <script>
          $('#routine-btn').on('click', () => {
               if($('#routine').val() === "create"){
                    window.location.href="/routine/new";
               }else{
                    $('#routine-form').submit();
               }
          })
     </script>
</body>
</html>