<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('./partials/styling.ejs') %>
     <title>Home</title>
</head>
<body>
     <header>
          <h1>Workout Tracker v1.0alpha</h1>
          <button>hamburger menu</button>
          <a href="#">Sign up</a>
          <a href="#">Log in</a>
     </header>
     <h2></h2>
     <button>sign up</button>

</body>
</html>