<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('./partials/styling.ejs') %>
     <link rel="stylesheet" href="/css/index.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <title>Home</title>
</head>
<body>
     <header>
          <h1><a id="title" href="/">GitFit</a></h1>
          <img src="/images/list.png" id="hamburger" alt="hamburger">
          <div class="hamburger-menu">
               <div class="menu">
                    <div class="menu-btns">
                         <a class="button button-primary" href="/user/new">Sign up</a>
                         <a class="button button-primary" href="/session/new">Log in</a>
                    </div>
                    <div class="menu-links">
                         <a class="button" href="/attributions">Attributions</a>
                         <a class="button" href="https://github.com/abszer">github</a>
                         <a class="button" href="https://www.linkedin.com/in/robertwhite3120/">Linkedin</a>
                         <a class="button" href="https://www.robwhite.dev">website</a>
                    </div>
               </div>
               <div class="menu-right"></div>
          </div>

          <!-- only visible on desktop -->
          <div class="header-btns">
               <a class="button button-primary" href="/user/new">Sign up</a>
               <a class="button button-primary" href="/session/new">Log in</a>
          </div>
     </header>
     
     <script src="/scripts/sideMenu.js"></script>
     <script>
          // const waitAndRemove = (e) => {
          //      setTimeout((e) => {
          //           $(e.target).removeClass('show');
          //      }, 750);
          // }

          // $('#hamburger').on('click', (e) => {
          //      $('.hamburger-menu').addClass('show');
          //      $('.menu').addClass('menu-show');
          //      $('.menu').removeClass('menu-hide');
          //      $('.menu-right').on('click', (e) => {
          //           // e.stopPropagation();
          //           // $(e.target).removeClass('show');
          //           setTimeout(() => {
          //                $('.hamburger-menu').removeClass('show');
          //           }, 358);
          //           $('.menu').removeClass('menu-show');
          //           $('.menu').addClass('menu-hide');
                    
          //      })
          // })
     </script>
</body>
</html>