<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include('./partials/styling.ejs') %>
     <link rel="stylesheet" href="/css/index.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <title>GitFit</title>
</head>
<body>
     <header>
          <h1><a id="title" href="/">GitFit</a></h1>
          <img src="/images/list.png" id="hamburger" alt="hamburger">
          <div class="hamburger-menu">
               <div class="menu">
                    <% if(!currentUser) {%>
                    <div class="menu-btns">
                         <a class="button button-primary" href="/user/new">Sign up</a>
                         <a class="button button-primary" href="/session/new">Log in</a>
                    </div>
                    <%}%> 
                    <div class="menu-links">
                         <a class="button" href="/attributions">Attributions</a>
                         <a class="button" href="https://github.com/abszer">github</a>
                         <a class="button" href="https://www.linkedin.com/in/robertwhite3120/">Linkedin</a>
                         <a class="button" href="https://www.robwhite.dev">website</a>
                    </div>
               </div>
               <div class="menu-right"></div>
          </div>
          <% if(currentUser) { %>
               <form id="log-out" action="/session?_method=DELETE" method="POST">
                    <input class="button" type="submit" value="Log out">
               </form>
          <%}%>
          <!-- only visible on desktop -->
          <% if(!currentUser) { %>
               <div class="header-btns">
                    <a class="button button-primary" href="/user/new">Sign up</a>
                    <a class="button button-primary" href="/session/new">Log in</a>
               </div>
          <%}%>
     </header>

     <div class="container">

          <!-- if user is signed in this is visible:  -->
          <% if(currentUser) { %>
               <h2 id="welcome-msg"><%= currentUser.firstname %>'s Dashboard</h2>
               <h3>Routine Analysis</h3>
               <h5><a href="/routine">Routine Select</a></h5>
               <div class="data-container">

               </div>
               
          <%}else{%>
               <h2 id="ready-msg">Ready to GitFit?</h2>
               <div class="left-align">
                    <img src="images/calendar.png" alt="calendar">
                    <h4>Create Routines for the Gym</h4>
               </div>
               <div class="right-align">
                    <img src="images/document.png" alt="document">
                    <h4>Log Workout Data by Routine</h4>
               </div>
               <div class="left-align">
                    <img src="images/grow.png" alt="grow">
                    <h4>Visualize Your Progression</h4>
               </div>
               <div class="footer">
                    <button class="button button-primary" onclick="window.location.href='user/new'">Sign up</button>
                    <button class="button button-primary" onclick="window.location.href='session/new'">Log in</button>
               </div>
          <%}%>
     </div>


     <script src="/scripts/sideMenu.js"></script>
     <script>
          // let currentRoutineIndex;
          // let currentExerciseObj = {
          //      reps: [],
          //      weight: []
          // }



          // get user routine data from database
          $.ajax( {
               url: '/userData'
          }).then((allData) => {
               console.log(allData)

               // create elements on the page
               let i = 0
               for(const routine of allData){
                    
                    const $routineName = $('<h4>').html(routine.name)
                    $('.data-container').append($routineName)
                    let j = 0;
                    for(const datum of routine.data){
                         const $newLi = $('<li>')
                         const $newLink = $('<a>').attr('id', i +  "-" + j).text(datum.date.slice(0, datum.date.indexOf('G') - 1))
                         $newLink.attr('href', '/analysis/' + i +  '-' + j)
                         $newLi.html($newLink)
                         $('.data-container').append($newLi)
                         j++;
                    }

                    i++; 
               }


          })
          

     </script>
</body>
</html>